{% extends "base.html" %}
{% load humanize %}
{% load tags %}

{% block content %}

                {% show_doc article %}

                <h3>Related News</h3>
                {% ifnotequal parent.guid doc.guid%}
                    {% show_doc parent %}
                {% endifnotequal %}

                {% if children %}
                {% for child in children %}
                    {% show_doc child %}
                {% endfor %}
                {% endif %}

                {% if siblings %}
                {% for sister in siblings %}
                    {% show_doc sister %}
                {% endfor %}
                {% endif %}
{% endblock %}