{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/kickstart.js" %}"></script>
    <script src="{% static "js/searchbox.js" %}"></script>
    <script src="{% static "js/edition.js" %}"></script>
    {% block javascript %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/kickstart.css" %}" media="all" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" media="all" />
    <title>Sum News</title>
</head>
<body class=elements>

<nav class="navbar">
<ul>
    <li><a href="/"><span>Sum</span> News</a></li>
</ul>
<ul class="right">
    {% block navcontent %}
    {% if user.is_authenticated %}
        <li>Welcome <span>{{ user.username }}</span></li>
        <li><a href="/logout/">Logout</a></li>
    {% else %}
        <li><a href="/login/">Log in</a></li>
        <li><a href="/signup/">Sign up</a></li>
    {% endif %}
        <li><a href="/debug/">Debug</a></li>
    {% endblock %}

    <form id="editionform">
    <select id="edition">
       {% for edition_code, edition_name in editions %}
           <option value="{{ edition_code }}" {% ifequal edition_code edition %} selected {% endifequal %}> {{ edition_name }}</option>
       {% endfor %}
    </select>
    <input id="editionsumbmit" type="submit" style="display:none;"/>
    </form>
</ul>
</nav>

<div class="callout callout-top clearfix" >
    <ul id="searchbox">
    <li>
        <form id="searchform">
            <input id="searchboxquery" type="text"/>
            <input id="searchboxsumbmit" type="submit" style="display:none;"/>
        </form>
    </li>
    <li><a href=""><i id="searchbutton" class="icon-2x icon-search" ></i></a></li>
    </ul>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="notice {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="grid">
    <div class="col_12">
        {% block content %}
        <div>
            Sorry, we were not able to load the template
        </div>
        {% endblock %}
    </div>
</div>

<div class="clear"></div>
<div id="footer">
    © Copyright <a href="http://www.tupletype.com">Tuple Type</a> - All Rights Reserved</div>
</body>
</html>