@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/gray_jean.png);
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

	#link-top{
	display:none;
	}

/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

.navbar span{
color:#86dc00;
}


.navbar ul{
display:inline-block;
margin:0;
padding:0;
}

.navbar li{
margin:0;
padding:0;
list-style-type:0;
display:inline-block;
}

.navbar li a{
display:inline-block;
color:#efefef;
padding:1em 0.7em;
text-decoration:none;
text-transform: uppercase;
line-height:100%;
font-size: 1.2em;
}

.callout{
background:#4598ef url(css/img/gplaypattern.png) repeat;/*#86dc00;*/
padding:2em 1em 1em 1em;
color:#fff;
box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.3);
display:block;
text-decoration:none;
}
	 .callout + div.grid{margin-top:30px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b url(css/img/gplaypattern.png) repeat;/*#86dc00;*/}

#mc_embed_signup{
padding:0 0 30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

/*---------------------------------
	Blog
-----------------------------------*/

.post{
border:1px solid #ccc;
padding:20px 5% 20px 5%;
position:relative;
background:#fff;
margin-bottom:30px;
}

	.post h4 a{
	text-decoration: none;
	color:#000;
	}

	.post .meta{
	position:absolute;
	top:10px;
	right:40px;
	color:#999;
	font-size:0.9em;
	}

	.post p{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	}

	.post.single .meta{
	bottom:auto;
	left:auto;
	top:20px;
	right:5%;
	}

	.post.single h3{
	margin-top:2em;
	}

	.post .thumb{
	float:right;
	margin:0 0 10px 10px;
	border:1px solid #ccc;
	padding:3px;
	background:#fff;
	}

.MarkupPagerNav {
clear: both;
margin: 1em 0;
text-align:center;
}
.MarkupPagerNav li {
display: inline-block;
list-style: none;
margin: 0;
padding:0;
}

.MarkupPagerNav li a,
.MarkupPagerNav li.MarkupPagerNavSeparator {
display: inline-block;
padding: 2px 9px;
color: #fff;
background: #2f4248;
margin-right: 3px;
font-size: 10px;
text-transform: uppercase;
text-decoration:none;
}

.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
color: #fff;
background: #4598ef;
text-decoration: none;
}

.MarkupPagerNav li.MarkupPagerNavSeparator {
display: inline-block;
color: #777;
background: #d2e4ea;
padding-left: 3px;
padding-right: 3px;
}

#searchboxquery {
    width: 500px;
    font-size: 1.2em;
    padding-left: 5px;
}

#searchbox ul{
	display:inline-block;
	margin:0;
	padding:0;
	}

#searchbox li{
margin:0;
padding:0;
vertical-align: middle;
list-style-type:0;
display:inline-block;
}

#searchbox a{
background: inherit;
color: white;
}

#graphcontainer {
    max-width: 800px;
    height: 400px;
    margin: auto;
  }

#editionform {
    display: inline;
}