{% extends "base.html" %}

{% block navcontent %}
    {% if not user.is_authenticated %}
        <li><a href="/login/">Log in</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="post clearfix">

    {% if user.is_authenticated %}
        <h4>You are already logged in and do not need to create an account.</h4>
    {%  else %}
        <h4>Please enter your information to create an account.</h4>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr><td><input type="submit" value="Sign Up" /></td></tr>
            </table>
        </form>
    {% endif %}

    </div>
{% endblock %}